/* #calc-container {
  
} */

#calc-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 376px;
  padding: 8px;
  width: 320px;
  text-align: center;
  background: black;
}
